#### <font color="#03997A"> Diplomado en Ciencia de datos UNAM </font>

##### <font color="#03997A"> MI: Luis Enrique Aorta V.  </font>

##### <font color="#03997A"> Modulo 9 Natural Language Procesing </font>

##### <font color="#03997A"> Tarea 1- Introducción a la minería de datos con trabalenguas y frases famosas Alumno: Ibarra Ramírez Sergio </font>

### Procesamiento del archivo de trabalenguas

In [2]:
import pandas as pd

data_trabalenguas = pd.read_csv("trabalenguas.txt",sep="\t" )
data_trabalenguas

       "Tres tristes tigres tragaban trigo en un trigal en tres tristes trastos.
0       En tres tristes trastos, tragaban trigo en...
1                         "El cielo está enladrillado
2                          ¿Quién lo desenladrillará?
3            El desenladrillador que lo desenladrille
4                        Buen desenladrillador será."
..                                                ...
63            Gotiebre, pericotiebre, tarantantiebre.
64                    Esta es la historia de la madre
65                 loable, pericotable, tarantantable
66                                  que tenía 4 hijos
67               Tijo, Cotijo, Petijo y Tarantantijo.

[68 rows x 1 columns]

In [3]:
import re

# Open files
with open('trabalenguas.txt', 'r') as f:
  contents = f.read()

with open('new_trabalenguas.txt', 'w') as f:

  # Find all trabajenguas between quotes
  trabalenguas = re.findall(r'".*?"', contents)

  # Loop through and write each one to new file 
  for t in trabalenguas:
    f.write(t + '\n')

In [ ]:
import re

def separate_trabalenguas(infile, outfile):

  with open(infile, 'r') as f:
    contents = f.read()

  with open(outfile, 'w') as f:

    trabalenguas = re.findall(r'".*?"', contents)

    for t in trabalenguas:
      f.write(t + '\n')

# Example call  
separate_trabalenguas('trabalenguas.txt', 'new_trabalenguas2.txt')