#### <font color="#03997A"> Diplomado en Ciencia de datos UNAM </font>

##### <font color="#03997A"> Dr: Alejandro Pimentel </font>

##### <font color="#03997A"> Modulo 6 Aprendizaje de Maquina supervisado </font>

##### <font color="#03997A">Practica 1: Datos Alumno: Ibarra Ramírez Sergio </font>

In [2]:
import pandas as pd

data_url ='https://gitlab.com/dgtic5/res/-/raw/main/aprendizajeSupervizado/Yemen%20Cholera%20Outbreak%20Epidemiology%20Data%20-%20Data_Governorate_Level.csv'

In [3]:
data = pd.read_csv(data_url)
data.head()

,Date,Governorate,Cases,Deaths,CFR (%),Attack Rate (per 1000),COD Gov English,COD Gov Arabic,COD Gov Pcode
0,2018-02-18,Amran,103965,176,0.17,89.582,Amran,عمران,29.0
1,2018-02-18,Al Mahwit,62887,151,0.24,86.122,Al Mahwit,المحويت,27.0
2,2018-02-18,Al Dhale'e,47136,81,0.17,64.438,Al Dhale'e,الضالع,30.0
3,2018-02-18,Hajjah,121287,422,0.35,52.060,Hajjah,حجة,17.0
4,2018-02-18,Sana'a,76250,123,0.16,51.859,Sana'a,صنعاء,23.0

También vamos a tener los metadatos de nuestra data

In [4]:
metadata_url = 'https://gitlab.com/dgtic5/res/-/raw/main/aprendizajeSupervizado/Yemen%20Cholera%20Outbreak%20Epidemiology%20Data%20-%20Metadata.csv'
metadata = pd.read_csv(metadata_url)
metadata.head()

        Column                                        Description
0         Date               Date when the figures were reported.
1  Governorate  The Governorate name as reported in the WHO ep...
2        Cases  Number of cases recorded in the governorate si...
3       Deaths  Number of deaths recorded in the governorate s...
4      CFR (%)  The case fatality rate in governorate since 27...

Para poder iterar los metadatos:

In [5]:
## La funcion va sacando datos 'de dos enb dos', es decir, el indice y el row
for i,row in metadata.iterrows():
  print("{}  -  {}".format(row["Column"],row["Description"]))

Date  -  Date when the figures were reported.
Governorate  -  The Governorate name as reported in the WHO epidemiology bulletin.
Cases  -  Number of cases recorded in the governorate since 27 April 2017.
Deaths  -  Number of deaths recorded in the governorate since 27 April 2017.
CFR (%)  -  The case fatality rate in governorate since 27 April 2017.
Attack Rate (per 1000)  -  The attack rate per 1,000 of the population in the governorate since 27 April 2017.
COD Gov English  -  The English name for the governorate according to the Inter Agency Standing Committee (IASC) Common Operation Datasets (CODs) for Yemen.
COD Gov Arabic  -  The Arabic name for the governorate according to the Inter Agency Standing Committee (IASC) Common Operation Datasets (CODs) for Yemen.
COD Gov Pcode  -  The PCODE name for the governorate according to the Inter Agency Standing Committee (IASC) Common Operation Datasets (CODs) for Yemen.
Bulletin Type  -  The type of bulletin from which the data was extracted. Bulletin types include Epidemiology bulletin, Weekly epidemiology bulletin, Daily epidemiology update.
Bulletin URL  -  The URL of the bulletin from which the data was extracted.

Paa saber cuantos Governorate (territoerios) unicos hay

In [6]:
governorates = data["Governorate"].unique()
governorates

array(['Amran', 'Al Mahwit', "Al Dhale'e", 'Hajjah', "Sana'a", 'Dhamar',
       'Abyan', 'Al Hudaydah', 'Al Bayda', 'Amanat Al Asimah', 'Raymah',
       'Al Jawf', 'Lahj', 'Aden', 'Ibb', 'Taizz', 'Marib', "Sa'ada",
       'Al Maharah', 'Shabwah', 'Moklla', "Say'on", 'Al-Hudaydah',
       'Al_Jawf', "Ma'areb", 'AL Mahrah'], dtype=object)

In [8]:
len(governorates)

26

In [ ]:
Vamosa obtener ahora las fechas unicas

In [7]:
fechas =data["Date"].unique()
fechas

array(['2018-02-18', '2018-02-11', '2018-02-04', '2018-01-28',
       '2018-01-21', '2018-01-14', '2018-01-07', '2017-12-31',
       '2017-12-17', '2017-11-26', '2017-11-19', '2017-11-08',
       '2017-11-07', '2017-11-06', '2017-11-05', '2017-11-04',
       '2017-11-03', '2017-10-30', '2017-10-29', '2017-10-28',
       '2017-10-25', '2017-10-22', '2017-10-21', '2017-10-17',
       '2017-10-16', '2017-10-14', '2017-10-11', '2017-10-10',
       '2017-10-09', '2017-10-08', '2017-10-05', '2017-10-04',
       '2017-10-03', '2017-10-02', '2017-10-01', '2017-09-30',
       '2017-09-28', '2017-09-27', '2017-09-26', '2017-09-25',
       '2017-09-24', '2017-09-23', '2017-09-22', '2017-09-21',
       '2017-09-20', '2017-09-19', '2017-09-18', '2017-09-17',
       '2017-09-16', '2017-09-15', '2017-09-14', '2017-09-13',
       '2017-09-12', '2017-09-11', '2017-09-10', '2017-09-09',
       '2017-09-08', '2017-09-07', '2017-09-06', '2017-09-05',
       '2017-09-04', '2017-09-03', '2017-09-02', '2017-09-01',
       '2017-08-31', '2017-08-30', '2017-08-29', '2017-08-28',
       '2017-08-27', '2017-08-26', '2017-08-24', '2017-08-23',
       '2017-08-22', '2017-08-21', '2017-08-20', '2017-08-19',
       '2017-08-18', '2017-08-17', '2017-08-16', '2017-08-15',
       '2017-08-13', '2017-08-06', '2017-08-03', '2017-08-01',
       '2017-07-31', '2017-07-30', '2017-07-29', '2017-07-28',
       '2017-07-27', '2017-07-26', '2017-07-25', '2017-07-24',
       '2017-07-23', '2017-07-22', '2017-07-21', '2017-07-20',
       '2017-07-19', '2017-07-18', '2017-07-17', '2017-07-16',
       '2017-07-15', '2017-07-14', '2017-07-13', '2017-07-12',
       '2017-07-11', '2017-07-10', '2017-07-07', '2017-07-06',
       '2017-07-05', '2017-07-04', '2017-07-03', '2017-07-02',
       '2017-07-01', '2017-06-30', '2017-06-29', '2017-06-28',
       '2017-06-27', '2017-06-26', '2017-06-25', '2017-06-24',
       '2017-06-23', '2017-06-22', '2017-06-21', '2017-06-20',
       '2017-06-19', '2017-06-18', '2017-06-17', '2017-06-14',
       '2017-06-13', '2017-06-12', '2017-06-10', '2017-06-07',
       '2017-06-04', '2017-05-30', '2017-05-27', '2017-05-22'],
      dtype=object)

In [9]:
len(fechas)

136

In [10]:
inicio = min(fechas)
final = max(fechas)
final

'2018-02-18'

In [11]:
print("De {} a {}, con un total de {} periodos".format(inicio,final,len(fechas)))

De 2017-05-22 a 2018-02-18, con un total de 136 periodos

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2914 entries, 0 to 2913
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    2914 non-null   object
 1   Governorate             2914 non-null   object
 2   Cases                   2914 non-null   object
 3   Deaths                  2914 non-null   int64
 4   CFR (%)                 2914 non-null   float64
 5   Attack Rate (per 1000)  2914 non-null   float64
 6   COD Gov English         2713 non-null   object
 7   COD Gov Arabic          2713 non-null   object
 8   COD Gov Pcode           2713 non-null   float64
dtypes: float64(3), int64(1), object(5)
memory usage: 205.0+ KB

In [15]:
pd.to_datetime(data["Date"])

0      2018-02-18
1      2018-02-18
2      2018-02-18
3      2018-02-18
4      2018-02-18
          ...
2909   2017-05-22
2910   2017-05-22
2911   2017-05-22
2912   2017-05-22
2913   2017-05-22
Name: Date, Length: 2914, dtype: datetime64[ns]

In [16]:
data["Date"] = pd.to_datetime(data["Date"])

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2914 entries, 0 to 2913
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    2914 non-null   datetime64[ns]
 1   Governorate             2914 non-null   object
 2   Cases                   2914 non-null   object
 3   Deaths                  2914 non-null   int64
 4   CFR (%)                 2914 non-null   float64
 5   Attack Rate (per 1000)  2914 non-null   float64
 6   COD Gov English         2713 non-null   object
 7   COD Gov Arabic          2713 non-null   object
 8   COD Gov Pcode           2713 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 205.0+ KB

Vamos ahora a arreglar el caso de la columna cases que debería ser un número pero es un object

In [18]:
data["Cases"]

0       103965
1        62887
2        47136
3       121287
4        76250
         ...
2909       549
2910       489
2911       189
2912       168
2913         2
Name: Cases, Length: 2914, dtype: object

In [19]:
data["Cases"].apply(int)

ValueError: invalid literal for int() with base 10: '15,936'

Nos damos cuenta que algunos de los datos tienen una coma y no se pueden leer como número

In [40]:
nuevos_datos = []
for dato in data["Cases"]:
  nuevo_dato = dato.replace(",", "")
  entero = int(nuevo_dato)
  print(nuevo_dato)
  nuevos_datos.append(nuevo_dato)

print(nuevos_datos)

AttributeError: 'int' object has no attribute 'replace'

Ejemplo de uso de  list comprehension

In [31]:
lista = [int(dato.replace(",",""))for dato in data["Cases"]]
lista

[103965,
 62887,
 47136,
 121287,
 76250,
 103214,
 28243,
 155908,
 30568,
 103184,
 17841,
 16018,
 24342,
 20966,
 67129,
 63696,
 7288,
 10706,
 1168,
 1399,
 569,
 22,
 103814,
 62606,
 47135,
 121287,
 75856,
 102774,
 28243,
 155245,
 30265,
 102493,
 17641,
 15965,
 24342,
 20954,
 66609,
 63592,
 7286,
 10706,
 1168,
 1399,
 568,
 22,
 103556,
 62275,
 47135,
 121284,
 75531,
 102185,
 28241,
 154262,
 29980,
 101910,
 17445,
 15957,
 24342,
 20932,
 66147,
 63457,
 7286,
 10706,
 1168,
 1399,
 568,
 22,
 103285,
 61927,
 47132,
 121279,
 75177,
 101535,
 28241,
 153446,
 29718,
 101364,
 17217,
 15936,
 24341,
 20908,
 65852,
 63282,
 7286,
 10706,
 1168,
 1399,
 568,
 22,
 102917,
 61564,
 47132,
 121254,
 74781,
 100842,
 28241,
 152592,
 29269,
 100596,
 16853,
 15869,
 24341,
 20887,
 65339,
 63050,
 7285,
 10705,
 1168,
 1399,
 568,
 22,
 102231,
 61097,
 47132,
 118468,
 74103,
 99766,
 28241,
 150965,
 28730,
 99452,
 15827,
 16403,
 24341,
 20868,
 64536,
 62371,
 7285,
 10703,
 1168,
 1399,
 568,
 22,
 101793,
 60805,
 47126,
 117646,
 73266,
 28241,
 98861,
 150319,
 28452,
 98975,
 15821,
 15924,
 24334,
 20846,
 64128,
 62036,
 7285,
 10702,
 1168,
 1399,
 568,
 22,
 100981,
 60212,
 47115,
 116247,
 28241,
 72300,
 97741,
 149041,
 27990,
 98105,
 15792,
 15456,
 20819,
 22669,
 63625,
 61631,
 7277,
 10647,
 1168,
 1399,
 568,
 20,
 98452,
 58828,
 47089,
 28228,
 111598,
 70322,
 95054,
 145559,
 27550,
 95298,
 15487,
 15071,
 22639,
 20566,
 62196,
 60443,
 6906,
 10312,
 1168,
 1397,
 568,
 20,
 94581,
 56447,
 47004,
 28103,
 68453,
 106933,
 90560,
 139145,
 26793,
 91799,
 14689,
 14497,
 22596,
 20286,
 59932,
 58223,
 6897,
 9722,
 1167,
 1396,
 568,
 19,
 93041,
 55551,
 46927,
 28048,
 67611,
 104838,
 88515,
 136937,
 26532,
 90486,
 14344,
 14265,
 22569,
 20171,
 59074,
 57367,
 6619,
 9322,
 1166,
 1392,
 568,
 19,
 89729,
 52920,
 46721,
 27957,
 66086,
 100850,
 84741,
 131827,
 25905,
 87578,
 13722,
 13903,
 22524,
 19816,
 57136,
 54422,
 6102,
 8662,
 1164,
 1390,
 568,
 18,
 89411,
 52777,
 46721,
 27941,
 65925,
 100640,
 84347,
 131342,
 25856,
 87293,
 13663,
 13873,
 22520,
 19786,
 57065,
 54018,
 6101,
 8577,
 1164,
 1390,
 568,
 18,
 89162,
 52777,
 46679,
 27936,
 65786,
 100308,
 83967,
 130943,
 25814,
 87064,
 13602,
 13829,
 22514,
 19757,
 56895,
 53938,
 6096,
 8495,
 1164,
 1390,
 568,
 18,
 88847,
 52607,
 46634,
 27911,
 65625,
 100191,
 83610,
 130390,
 25771,
 86788,
 13543,
 13741,
 22508,
 19711,
 56720,
 53744,
 6096,
 8419,
 1164,
 1389,
 568,
 18,
 88434,
 52415,
 46581,
 27911,
 65484,
 99522,
 83229,
 129896,
 25711,
 86420,
 13483,
 13740,
 22505,
 19674,
 56668,
 53525,
 6096,
 8352,
 1164,
 1389,
 568,
 18,
 88146,
 52181,
 46492,
 27896,
 65339,
 99312,
 82863,
 129538,
 25651,
 86324,
 13412,
 13671,
 22503,
 19616,
 56537,
 53332,
 6096,
 8264,
 1164,
 1389,
 568,
 18,
 86598,
 51480,
 46323,
 27804,
 64710,
 97519,
 81297,
 127366,
 25369,
 85073,
 13205,
 13568,
 22481,
 19397,
 56109,
 52096,
 5943,
 7968,
 1164,
 1384,
 568,
 18,
 86304,
 51167,
 46213,
 27783,
 64507,
 97093,
 80846,
 126830,
 25351,
 84836,
 13144,
 13528,
 22480,
 19347,
 55931,
 52096,
 5892,
 7886,
 1164,
 1384,
 568,
 18,
 85989,
 50953,
 46112,
 27781,
 64308,
 96543,
 80437,
 126318,
 25270,
 84593,
 13089,
 22474,
 13470,
 19309,
 55789,
 51798,
 5804,
 7816,
 1164,
 1384,
 568,
 18,
 85241,
 50191,
 45786,
 27724,
 63687,
 95865,
 79200,
 124636,
 25110,
 83764,
 12932,
 22469,
 13360,
 19209,
 55273,
 51634,
 5699,
 7502,
 1164,
 1384,
 568,
 17,
 84410,
 49611,
 45521,
 27675,
 63136,
 94844,
 78103,
 122869,
 24894,
 82589,
 22458,
 12758,
 13269,
 19132,
 54474,
 51066,
 5586,
 7338,
 1164,
 1381,
 565,
 15,
 84061,
 49420,
 45520,
 27652,
 62960,
 94147,
 77788,
 122167,
 24845,
 82431,
 22454,
 12701,
 13234,
 19102,
 54175,
 50822,
 5551,
 7255,
 1164,
 1381,
 565,
 15,
 82681,
 48516,
 45007,
 27525,
 62064,
 92406,
 76138,
 119684,
 24435,
 81559,
 22358,
 13086,
 12414,
 18887,
 53361,
 50321,
 5381,
 6976,
 1163,
 1372,
 563,
 15,
 82297,
 48237,
 44813,
 27469,
 61802,
 91932,
 75686,
 118798,
 24434,
 81270,
 22308,
 13026,
 12280,
 18844,
 53157,
 50169,
 5378,
 1163,
 6897,
 1370,
 561,
 15,
 81570,
 47976,
 44494,
 27435,
 61036,
 91198,
 74700,
 116772,
 24323,
 80884,
 22168,
 12879,
 12141,
 18774,
 52746,
 49828,
 5274,
 1163,
 6759,
 1370,
 559,
 15,
 80619,
 47304,
 44036,
 27305,
 60511,
 90427,
 73267,
 113632,
 24154,
 80140,
 21977,
 12705,
 11993,
 18634,
 52157,
 49043,
 5199,
 1163,
 6502,
 1344,
 549,
 14,
 79964,
 46686,
 43669,
 27193,
 59585,
 89945,
 72233,
 112638,
 24012,
 79551,
 21763,
 12592,
 11827,
 18590,
 51981,
 48553,
 5117,
 1163,
 6352,
 1341,
 545,
 14,
 79962,
 46676,
 43669,
 27188,
 59585,
 89292,
 72233,
 111219,
 24012,
 79550,
 21763,
 12591,
 11827,
 18528,
 51822,
 48553,
 5117,
 1163,
 6352,
 1333,
 547,
 14,
 79187,
 46190,
 43493,
 27081,
 59136,
 88513,
 71274,
 108917,
 23827,
 78898,
 21508,
 12520,
 11633,
 18420,
 51454,
 48083,
 5022,
 1162,
 6122,
 1328,
 537,
 14,
 78500,
 45531,
 42937,
 26950,
 58656,
 87584,
 70248,
 107019,
 23719,
 78522,
 21149,
 12398,
 18314,
 11456,
 51097,
 47616,
 4949,
 1162,
 5887,
 1326,
 532,
 14,
 78094,
 45284,
 42702,
 26888,
 58191,
 87418,
 69777,
 106169,
 23624,
 78238,
 21149,
 12370,
 18265,
 11357,
 50868,
 47453,
 4905,
 1162,
 5772,
 1324,
 527,
 14,
 77685,
 44965,
 42702,
 26822,
 57908,
 87046,
 68849,
 105092,
 23526,
 77835,
 20999,
 12294,
 18215,
 11271,
 50650,
 47174,
 4905,
 1162,
 5668,
 1324,
 527,
 14,
 76931,
 44411,
 41815,
 26622,
 57456,
 85914,
 68332,
 103280,
 23324,
 77215,
 20678,
 12192,
 18098,
 11077,
 50082,
 46573,
 4801,
 1162,
 5435,
 1298,
 519,
 14,
 76931,
 44411,
 41815,
 26622,
 57456,
 85914,
 68332,
 103280,
 23324,
 77215,
 20678,
 12192,
 18098,
 11077,
 50082,
 46573,
 4801,
 1162,
 5435,
 1298,
 519,
 14,
 76425,
 44100,
 41815,
 26523,
 57097,
 85146,
 67794,
 102294,
 23183,
 76925,
 20535,
 12095,
 18026,
 10969,
 49854,
 46076,
 4729,
 1162,
 5376,
 1293,
 514,
 14,
 75556,
 43416,
 41437,
 26385,
 55113,
 83817,
 66834,
 100717,
 22926,
 76203,
 20220,
 11988,
 17893,
 10890,
 49468,
 45303,
 4729,
 1162,
 5218,
 1246,
 495,
 14,
 75093,
 43184,
 41182,
 26299,
 83084,
 51882,
 66302,
 99747,
 22804,
 75864,
 20019,
 11939,
 17893,
 10775,
 49289,
 45030,
 4660,
 1162,
 5136,
 1245,
 495,
 14,
 74594,
 42908,
 41051,
 26228,
 81951,
 49461,
 65803,
 98381,
 22648,
 75547,
 19813,
 11873,
 17829,
 10658,
 49066,
 44788,
 4568,
 1162,
 5136,
 1245,
 481,
 14,
 74191,
 42641,
 40823,
 26131,
 80916,
 48448,
 65274,
 97193,
 22449,
 75088,
 11802,
 19512,
 17760,
 10658,
 48835,
 44495,
 4568,
 1162,
 5047,
 1243,
 469,
 14,
 73681,
 42377,
 40565,
 25888,
 80914,
 64725,
 46440,
 96123,
 22303,
 74778,
 11708,
 17709,
 19315,
 10434,
 48608,
 43973,
 4403,
 1162,
 4919,
 1242,
 469,
 14,
 73107,
 42061,
 40563,
 25611,
 80514,
 64243,
 45118,
 94864,
 22176,
 74327,
 11663,
 17646,
 19153,
 10433,
 48253,
 43652,
 4402,
 1162,
 4819,
 1242,
 465,
 14,
 72726,
 41632,
 40120,
 25611,
 80028,
 63753,
 43171,
 93681,
 21953,
 74182,
 11599,
 17585,
 18988,
 10331,
 47991,
 43384,
 4371,
 1162,
 4714,
 1240,
 456,
 14,
 72314,
 41415,
 39881,
 25611,
 79347,
 63308,
 21797,
 92797,
 41626,
 73823,
 11531,
 17516,
 18779,
 10229,
 47787,
 43259,
 4368,
 1162,
 4617,
 1211,
 454,
 14,
 71761,
 41185,
 39592,
 25431,
 78530,
 62708,
 21652,
 91783,
 40113,
 73384,
 17442,
 11422,
 18587,
 10148,
 47580,
 41672,
 4366,
 1162,
 4358,
 1210,
 444,
 14,
 71244,
 41184,
 39450,
 25200,
 77803,
 62191,
 21429,
 90757,
 38167,
 73164,
 ...]

In [29]:
len(lista)

2914

In [32]:
data["Cases"] = lista

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2914 entries, 0 to 2913
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    2914 non-null   datetime64[ns]
 1   Governorate             2914 non-null   object
 2   Cases                   2914 non-null   int64
 3   Deaths                  2914 non-null   int64
 4   CFR (%)                 2914 non-null   float64
 5   Attack Rate (per 1000)  2914 non-null   float64
 6   COD Gov English         2713 non-null   object
 7   COD Gov Arabic          2713 non-null   object
 8   COD Gov Pcode           2713 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 205.0+ KB

### Uso de Matplotlib para el análisis de la tabla de datos de colera en Yemen

In [34]:
import matplotlib.pyplot as plt